body {
  margin: 0;
}
h1 {
  text-align: center;
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

/* CLASSES */
.gameboard {
  display: grid;
  grid-template-columns: 220px 220px;
  grid-template-rows: 220px 220px;
  justify-content: center;
  padding-top: 100px;
}

.grid {
  border: solid black 2px;
  height: 200px;
  width: 200px;
  background-color: white;
  padding: 0px;
  opacity: 1;
}

#red {
  background-color: red;
  box-shadow: 5px 10px 5px gray;
}

#green {
  background-color: green;
  box-shadow: 5px 10px 5px gray;
}

#yellow {
  background-color: yellow;
  box-shadow: 5px 10px 5px gray;
}

#blue {
  background-color: blue;
  box-shadow: 5px 10px 5px gray;
}

#start {
  justify-content: center;
}

.active {
  background-color: black;
}

.gameOver {
  text-align: center;
}
